
.textbox-pagesix {
  position: relative;
  bottom: 800px;
  left: 30%;
  transform: translateX(-50%);
  z-index: 1; 
  width: 20%;
}


.slide {
  width: 100vw;
  height: 100vh;
  scroll-snap-align: center;
}

.slider {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  position: relative;
}

.pagination {
  width: 100vw;
  display: flex;
  align-items: center;
}

.dot-container {
  position: relative;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}


.dot {
  cursor: pointer;
  height: 10px;
  width: 24px;
  margin: 0 8px;
  background-color: white;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot.active,
.dot:hover {
  background-color: #6e6e6e;
}



@media (max-width: 768px) {
  
  .textbox-pagesix {
    position: relative;
    bottom: 650px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1; 
    width: 70%;
  }
}