.page-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    background-image: url("pagetwopic.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.page-two-text-rect {
    width: 24px;
    height: 2px;
    margin: 30px 0;
}

.page-two-text {
    padding-bottom: 144px;
    padding-left: 10%;
    padding-right: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    text-align: left;
    color: white;
    line-height: 240%;
}

.page-two h1 {
    font-size: 32px;
    font-weight: medium;
    color: white;
}

.page-two-text-para {
    font-size: 20px;
    font-weight: regular;
    color: white;
}

.page-two-text-p {
    border-bottom: 2px solid #FFCE00;
    width: 105px;
    font-size: 16px;
    transition: all .2s ease-in-out;
}

.page-two-text-p:hover {
    width: 210px;
}

/* For Smartphones */
@media (min-width: 320px) and (max-width: 768px) {
    .page-two-text {
        padding-bottom: 64px;
        padding-left: 10%;
        padding-right: 10%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100vw;
        text-align: left;
        color: white;
        line-height: 140%;
    }

    .page-two h1 {
        font-size: 32px;
        font-weight: medium;
        color: white;
        margin-bottom: 48px;
    }

    .page-two p {
        font-size: 20px;
        font-weight: regular;

    }