/* Navbar */
* {
  box-sizing: border-box;
  font-family: aktiv-grotesk, sans-serif;
  color: black;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
}

.container-scroll h1 {
  font-size: 32px;
  font-weight: 500;
}

.container-scroll p {
  font-size: 20px;
  font-weight: 400;
}

.logo h4 {
  background-color: transparent;
  font-size: 20px;
  font-weight: 400;
}

sup {
  color: white;
  font-family: AktivGrotesk-Medium;
  font-size: 8px;
  line-height: 9px;
}