.vert-dot {
  cursor: pointer;
  height: 24px;
  width: 10px;
  margin: 0 8px;
  background-color: white;
  transition: background-color 0.6s ease;
  z-index: 999;
  margin-top: 10px;
  display: block;
}

.vert-dot.active,
.vert-dot:hover {
  background-color: #6e6e6e;
}

.scroll-section {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 999;
  height: 100vh;

}

.vertical-dots {
  margin: auto 5px;
  position: relative;
}